<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/Site.css")
</head>
<body>

    <div class="d-flex justify-content-center">
        <a href="@Url.Action("Index", "Home")" title="Logo">
            <img alt="logo" src="@Url.Content("~/images/logo.png")">
        </a>

    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-around"
             id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item text-black-50"><a class="nav-link" href="@Url.Action("Index", "Home")">TechPro</a></li>


                <li class="nav-item text-black-50"><a class="nav-link" href="@Url.Action("Contact", "Home")">Contacto</a></li>


                <li class="nav-item menuPrincipal">
                    <a href="@Url.Action("CarritoView", "Carrito")">
                        <div class="badge badge-light">
                            <img src="https://img.icons8.com/ios-glyphs/50/000000/shopping-cart--v1.png" width="34" height="34" />

                            @if (Session["CantidadCarrito"] == null)
                            {
                                <span id="badgeCart" class="badge badge-danger">0</span>
                            }
                            else
                            {
                                <span id="badgeCart" class="badge badge-danger">@Session["CantidadCarrito"]</span>
                            }
                        </div>
                    </a>
                </li>
                @if (Session["userID"] != null)
                {
                    <li class="nav-item text-black-50"><a class="nav-link" href="@Url.Action("Perfil", "Login")">Mi perfil</a></li>
                    <li class="nav-item text-black-50"><a class="nav-link" href="@Url.Action("cerrarSesion", "Login")">Cerrar sesión</a></li>
                }
                else
                {
                    <li class="nav-item text-black-50"><a class="nav-link" href="@Url.Action("Login", "Login")">Iniciar sesión</a></li>
                }
            </ul>
        </div>
    </nav>
    <br />
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="flex-wrapper gray-theme imageAndLink-type ">

                <h2 class="heading heading-focus v-fw-medium">Marcas Destacadas</h2>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <img width="133px" alt="133 px" src="~/images/LogoMarcas/AMD_logo.png" />
                        </div>
                        <div class="col">
                            <img width="133 px" alt="133 px" src="~/images/LogoMarcas/flx_Razer_green_hz_RGB.jpg" />
                        </div>
                        <div class="col">
                            <img width="133 px" alt="133 px" src="~/images/LogoMarcas/HpOmen.jpg" />
                        </div>
                        <div class="col">
                            <img width="133 px" alt="133 px" src="~/images/LogoMarcas/LenovoLegion.jpg" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">

                            <img width="133 px" alt="133 px" src="~/images/LogoMarcas/LogitechLogo.jpg" />
                        </div>
                        <div class="col">

                            <img width="133 px" alt="133 px" src="~/images/LogoMarcas/logo_acer.jpg" />
                        </div>
                        <div class="col">
                            <img width="133 px" alt="133 px" src="~/images/LogoMarcas/logo_alienware.jpg" />
                        </div>
                        <div class="col">
                            <img width="133 px" alt="133 px" src="~/images/LogoMarcas/logo_asus.jpg" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <img width="133 px" alt="133 px" src="~/images/LogoMarcas/logo_intel.jpg" />

                        </div>
                        <div class="col">
                            <img width="133 px" alt="133 px" src="~/images/LogoMarcas/logo_MSI.jpg" />

                        </div>
                        <div class="col">
                            <img width="133 px" alt="133 px" src="~/images/LogoMarcas/nvidia_logo.jpg" />
                        </div>
                        <div class="col">
                            <img width="133 px" alt="133 px" src="~/images/LogoMarcas/SamsungLogo.png" />
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Acciones/app.js")
    @RenderSection("scripts", required: false)
</body>
</html>
