<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/Site.css")
</head>
<body>

    <div class="d-flex justify-content-center">
        <img class="d-flex justify-content-center" src="~/images/logo.png" alt="Master Pizza" style="max-width:100%;" />
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-around"
             id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item text-black-50">@Html.ActionLink("TechPro", "Index", "Home", new { @class = "nav-link" })</li>
                <!--<li class="nav-item menuPrincipal">@Html.ActionLink("About", "About", "Home", new { @class = "nav-link" })</li>-->
                <li class="nav-item menuPrincipal">@Html.ActionLink("Contacto", "Contact", "Home", new { @class = "nav-link" })</li>
                <li class="nav-item menuPrincipal">
                    <a href="@Url.Action("Index", "Home")">
                        <img src="https://img.icons8.com/ios-glyphs/50/000000/shopping-cart--v1.png" />
                    </a>

                    @if (Session["CantidadCarrito"] == null)
                    {
                        <span id="badgeCart" class="badge badge-secondary">0</span>
                    }
                    else
                    {
                        <span id="badgeCart" class="badge badge-secondary"></span>
                    }

                </li>
            </ul>
        </div>
    </nav>
    <br />
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Acciones/app.js")
    @RenderSection("scripts", required: false)
</body>
</html>
