@model Proyecto_TechPro.Entidades.Usuario 
@{
    ViewBag.Title = "Registrarse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center>
    <br />
    <h1>Registrarse</h1>
    <br />

    @using (Html.BeginForm("RegistrarUsuario", "Login", FormMethod.Post))
    {

        <div class="form-group">
            <label for="txt_email">Cedula</label>
            @Html.TextBoxFor(m => m.idUsuario, new { @class = "form-control", @type = "number", @placeholder = "Numero de cedula", @id = "txt_cedula" })
        </div>
        <div class="form-group">
            <label for="txt_email">Correo electrónico</label>
            @Html.TextBoxFor(m => m.email, new { @class = "form-control", @placeholder = "Ingresar correo electronico", @id = "txt_email" })
        </div>
        <div class="form-group">
            <label for="txt_numero">Número de celular</label>
            @Html.TextBoxFor(m => m.telefono, new { @class = "form-control", @placeholder = "Numero de telfono", @type = "number", @id = "txt_telefono" })
        </div>
        <div class="form-group">
            <label for="txt_nombre">Nombre</label>
            @Html.TextBoxFor(m => m.nombre, new { @class = "form-control", @placeholder = "Nombre", @type = "text", @id = "txt_nombre" })
        </div>
        <div class="form-group">
            <label for="txt_primer">Primer apellido</label>
            @Html.TextBoxFor(m => m.primerApellido, new { @class = "form-control", @placeholder = "Primer Apellido", @type = "text", @id = "txt_apellido1" })
        </div>
        <div class="form-group">
            <label for="txt_segundo">Segundo apellido</label>
            @Html.TextBoxFor(m => m.segundoApellido, new { @class = "form-control", @placeholder = "Segundo Apellido", @type = "text", @id = "txt_apellido2" })
        </div>
        <div class="form-group">
            <label for="txt_pass">Contraseña</label>
            @Html.TextBoxFor(m => m.Pass, new { @class = "form-control", @placeholder = "Contraseña", @type = "password", @id = "txt_pass1" })
        </div>
        <div class="form-group">
            <label for="txt_pass1">Validación contraseña</label>
            @Html.TextBoxFor(m => m.Pass2, new { @class = "form-control", @placeholder = "Confirmar contraseña", @type = "password", @id = "txt_pass2" })
        </div>
        <br />
        <button class="btn btn-primary" type="submit">Crea tu cuenta TechPro</button>

    }


    <div id="guardar" style="display:none">
    </div>
    <br />
    <br />
    <h6 class="text-center">¿Ya tiene una cuenta? @Html.ActionLink("Inicie sesión", "Login", "Login")</h6>
    <br />
</center>

