
@{
    ViewBag.Title = "ComponentesPCView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}






<br />
<br />
<br />
<center>
    <h2 style="font-family:Arial; font-size:30px"> Top de Categorias </h2>
    <br />
    <div style="text-align-last: justify;">

        <a href="@Url.Action("LaptopView", "Home")" title="Laptops" class="links">
            <img alt="laptops" src="@Url.Content("~/images/TopCategorias/laptops.jpg")">
        </a>
        <a href="@Url.Action("TelevisorView", "Home")" title="Televisor">
            <img alt="televisor" src="@Url.Content("~/images/TopCategorias/televisores.jpg")">
        </a>

        <a href="@Url.Action("ComponentesPCView", "Home")" title="ComponentesPC">
            <img alt="componentesPC" src="@Url.Content("~/images/TopCategorias/componentesPC.jpg")">
        </a>
        <a href="@Url.Action("SmartphonesView", "Home")" title="Smartphones">
            <img alt="componentesPC" src="@Url.Content("~/images/TopCategorias/smartphones.jpg")">
        </a>
        <a href="@Url.Action("AudifonosView", "Home")" title="Audifinos">
            <img alt="audifinos" src="@Url.Content("~/images/TopCategorias/audifinos.jpg")">
        </a>
    </div>
</center>

<br>
<br>

<h4>>Componentes de PC</h4>
<br>

<div class="card-deck d-flex flex-wrap justify-content-center">

  

    <div class="card">
        <div class="text-center">
            <img class="card-img-top align-content-center" alt="Imagen de pizza" src="~/images/productos/razer_basilisk.png" style="max-width: 200px" />
        </div>
        <div class="card-body">
            <h5 class="card-title">Mouse Razer Basilisk</h5>
        </div>
        <div class="card-footer justify-content-center">
            <h6 class="precio text-center"><b>₡35 000.00</b></h6>
            <a class="btn btn-success d-flex justify-content-center" href="#">Agregar al carrito</a>
        </div>
    </div>
  
    <div class="card">
        <div class="text-center">
            <img class="card-img-top align-content-center" alt="Imagen de pizza" src="~/images/productos/razer_blackwidow.png" style="max-width: 200px" />
        </div>
        <div class="card-body">
            <h5 class="card-title">Teclado mecanico Razer Blackwidow</h5>
        </div>
        <div class="card-footer justify-content-center">
            <h6 class="precio text-center"><b>₡65 000.00</b></h6>
            <a class="btn btn-success d-flex justify-content-center" href="#">Agregar al carrito</a>
        </div>
    </div>

  

    <div class="card">
        <div class="text-center">
            <img class="card-img-top align-content-center" alt="Imagen de pizza" src="~/images/productos/logitech_g502.png" style="max-width: 200px" />
        </div>
        <div class="card-body">
            <h5 class="card-title">Teclado Logitech G513</h5>
        </div>
        <div class="card-footer justify-content-center">
            <h6 class="precio text-center"><b>₡44 900.00</b></h6>
            <a class="btn btn-success d-flex justify-content-center" href="#">Agregar al carrito</a>
        </div>
    </div>

  

    <div class="card">
        <div class="text-center">
            <img class="card-img-top align-content-center" alt="Imagen de pizza" src="~/images/productos/asus_rog_strix_XG32VQR.png" style="max-width: 200px" />
        </div>
        <div class="card-body">
            <h5 class="card-title">Monitor Asus Rog Strix</h5>
        </div>
        <div class="card-footer justify-content-center">
            <h6 class="precio text-center"><b>₡349 900.00</b></h6>
            <a class="btn btn-success d-flex justify-content-center" href="#">Agregar al carrito</a>
        </div>
    </div>
    <div class="card">
        <div class="text-center">
            <img class="card-img-top align-content-center" alt="Imagen de pizza" src="~/images/productos/cougar_armor_one.png" style="max-width: 200px" />
        </div>
        <div class="card-body">
            <h5 class="card-title">Silla Cougar Armor One</h5>
        </div>
        <div class="card-footer justify-content-center">
            <h6 class="precio text-center"><b>₡134 500.00</b></h6>
            <a class="btn btn-success d-flex justify-content-center" href="#">Agregar al carrito</a>
        </div>
    </div>
</div>