@model IEnumerable<Productos>

@{
    ViewBag.Title = "Home Page";
}


<div id="divLoading" style="margin: 0px; padding: 0px; position: fixed; right: 0px;
    top: 0px; width: 100%; height: 100%; background-color: rgba(255,255,255,0.7); z-index: 30001;
    opacity: .8; filter:opacity(70%);display:none">
    <p style="position: absolute; top: 50%; left: 50%; color: White;">
        <div class="d-flex flex-wrap justify-content-center" style="margin-top:25%;">
        <div class="spinner-border " role="status" >
            <span class="sr-only">Loading...</span>
        </div>
        </div>
    </p>
</div>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="~/images/carousel/carousel1.jpeg" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="~/images/carousel/carousel2.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="~/images/carousel/carousel3.jpg" alt="Third slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<br />
<br>
<center>

    @Html.Partial("FiltrarCateg", new Productos())

</center>
<br>
<br>
<div class="card-deck d-flex flex-wrap justify-content-center">

    @{
        List<Proyecto_TechPro.Entidades.Producto> sesion = new List<Proyecto_TechPro.Entidades.Producto>();

        sesion = (List<Proyecto_TechPro.Entidades.Producto>)Session["ProductosCarrito"];
        bool repetido = false;
        if (sesion == null)
        {
            sesion = new List<Proyecto_TechPro.Entidades.Producto>();
        }

    }


    @foreach (var item in Model)
    {
        foreach (var it in sesion)
        {
            if (it.idProducto == item.idProducto)
            {
                repetido = true;
            }
        }

        if (repetido)
        {
            <div class="card">
                <div class="text-center">
                    <img class="card-img-top align-content-center" alt="Imagen de pizza" src="~/images/productos/@item.imagen" style="max-width: 200px" />
                </div>
                <div class="card-body">
                    <input type="text" id="" value="@item.idProducto" hidden />
                    <h5 class="card-title">@item.nombreProducto</h5>
                </div>
                <div class="card-footer justify-content-center">
                    <h6 class="precio text-center"><b>₡@item.precio</b></h6>
                    <button type="button" class="btn btn-secondary d-flex justify-content-center" style="width:100%;" itemid="@item.idProducto" onclick="agregarCarrito(this)" disabled>En el carrito</button>
                </div>
            </div>
        }
        else
        {
            <div class="card">
                <div class="text-center">
                    <img class="card-img-top align-content-center" alt="Imagen de pizza" src="~/images/productos/@item.imagen" style="max-width: 200px" />
                </div>
                <div class="card-body">
                    <input type="text" id="" value="@item.idProducto" hidden />
                    <h5 class="card-title">@item.nombreProducto</h5>
                </div>
                <div class="card-footer justify-content-center">
                    <h6 class="precio text-center"><b>₡@item.precio</b></h6>
                    <button type="button" class="btn btn-success d-flex justify-content-center" style="width:100%;" itemid="@item.idProducto" onclick="agregarCarrito(this)">Agregar al carrito</button>
                </div>
            </div>
        }
        repetido = false;

    }



</div>
<br />
<br />

