@model IEnumerable<Productos>

@{
    ViewBag.Title = "Home Page";
}


<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="~/images/carousel/carousel1.jpeg" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="~/images/carousel/carousel2.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="~/images/carousel/carousel3.jpg" alt="Third slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<br />
<br>
<center>


    
    <h2 style="font-family:Arial; font-size:30px"> Top de Categorias </h2>
    <div style="text-align-last: justify;">

        <a href="@Url.Action("LaptopView", "Home")" title="Audifinos" class="links">
            <img alt="audifinos" src="@Url.Content("~/images/TopCategorias/laptops.jpg")">
        </a>
        <img src="~/images/TopCategorias/laptops.jpg" width="205px" height="200px" alt="audifinos" title="Audifinos" style="float:center">

        <img src="~/images/TopCategorias/componentesPC.jpg" width="205px" height="200px" alt="laptops" title="Laptops" style="float:center">

        <img src="~/images/TopCategorias/smartphones.jpg" width="205px" height="200px" alt="smartphones" title="Smartphones" style="float:center">

        <img src="~/images/TopCategorias/audifinos.jpg" width="205px" height="200px" alt="audifinos" title="Perifericos" style="float:center">
    </div>
    @*<img src="https://i.imgur.com/JUPTqvv.png" width="205px" height="200px" alt="iphone" title="Apple Phone" style="float:center">
        <img src="https://i.imgur.com/EhQ6tSt.png" width="205px" height="200px" alt="iphone" title="Samsung" style="float:center">
        <img src="https://i.imgur.com/5M4RBaE.png" width="205px" height="200px" alt="iphone" title="Laptop" style="float:center">
        <img src="https://i.imgur.com/cIUCjAr.png" width="205px" height="200px" alt="iphone" title="Camera" style="float:center">*@
  
</center>
<br>
<br>
<div class="card-deck d-flex flex-wrap justify-content-center">
    @foreach (var item in Model)
    {
        <div class="card">
            <div class="text-center">
                <img class="card-img-top align-content-center" alt="Imagen de pizza" src="~/images/productos/@item.imagen" style="max-width: 200px" />
            </div>
            <div class="card-body">
                <input type="text" id="" value="@item.idProducto" hidden />
                <h5 class="card-title">@item.nombreProducto</h5>
            </div>
            <div class="card-footer justify-content-center">
                <h6 class="precio text-center"><b>₡@item.precio</b></h6>
                <a class="btn btn-success d-flex justify-content-center" itemid="@item.idProducto" onclick="agregarCarrito(this)">Agregar al carrito</a>
            </div>
        </div>
    }

</div>
<br />
<br />
<div class="flex-wrapper gray-theme imageAndLink-type ">

    <h2 class="heading heading-focus v-fw-medium">Marcas Destacadas</h2>
    <div class="container">
        <div class="row">
            <div class="col">
                <img width="133px" alt="133 px" src="~/images/LogoMarcas/AMD_logo.png" />
            </div>
            <div class="col">
                <img width="133 px" alt="133 px" src="~/images/LogoMarcas/flx_Razer_green_hz_RGB.jpg" />
            </div>
            <div class="col">
                <img width="133 px" alt="133 px" src="~/images/LogoMarcas/HpOmen.jpg" />
            </div>
            <div class="col">
                <img width="133 px" alt="133 px" src="~/images/LogoMarcas/LenovoLegion.jpg" />
            </div>
        </div>
        <div class="row">
            <div class="col">

                <img width="133 px" alt="133 px" src="~/images/LogoMarcas/LogitechLogo.jpg" />
            </div>
            <div class="col">

                <img width="133 px" alt="133 px" src="~/images/LogoMarcas/logo_acer.jpg" />
            </div>
            <div class="col">
                <img width="133 px" alt="133 px" src="~/images/LogoMarcas/logo_alienware.jpg" />
            </div>
            <div class="col">
                <img width="133 px" alt="133 px" src="~/images/LogoMarcas/logo_asus.jpg" />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img width="133 px" alt="133 px" src="~/images/LogoMarcas/logo_intel.jpg" />

            </div>
            <div class="col">
                <img width="133 px" alt="133 px" src="~/images/LogoMarcas/logo_MSI.jpg" />

            </div>
            <div class="col">
                <img width="133 px" alt="133 px" src="~/images/LogoMarcas/nvidia_logo.jpg" />
            </div>
            <div class="col">
                <img width="133 px" alt="133 px" src="~/images/LogoMarcas/SamsungLogo.png" />
            </div>
        </div>
    </div>
</div>
