
@model IEnumerable<Productos>
@{
    ViewBag.Title = "ConsultaIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ConsultaIndex</h2>

<br />
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Descripcion</th>
            <th>Precio</th>
            <th>Saldo</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.idProducto</td>
            <td>@item.idCategoria</td>
            <td>@item.descripcion</td>
            <
            <td>@item.Invetario</td>
            <td>@item.imagen</td>
        </tr>
        }
    </tbody>
</table>




